.username {
  margin-left: 658px;
  margin-top: 10px;
}

.profile {
  display: flex;
}
.reset-avatar-btn{
  height: 30px;
  width: 120px;
}
.photouser {
  display: flex;
  width: 100px;
  margin-left: 7%;
  justify-content: center;
  height: 100px;
}
.seemore {
  margin-left: 150px;
}
.userWatchlist {
  margin-left: 150px;
  font-size: 30px;
}
.topbarprofile {
  display: flex;
  margin-left: 590px;
}
.favheader {
  margin-left: 50px;
}
.profileheader {
  margin-left: 500px;
}

.watchlist {
  margin-left: 100px;
}
