.removebtn {
  margin-left: 50px;
}
.ovw {
  display: inline-block;
  color: #a0a0a0;
  margin-left: 15px;
  text-align: left;
  font-size: 15px;
}

.favoritebtn{
  cursor: pointer;
  margin-left: 1000px;
}