.menu {
  border-bottom: none;
  overflow: auto;
  box-shadow: none;
  background-color: #121212;
}

.menu__logo {
  width: 140px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 13px;
  padding: 17px 10px;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #bd0a28; /*foi color*/
  border-color: #bd0a28;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: 20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}

.foiRed {
  color: #bd0a28;
}
.foiRed:hover {
  color: #bd0a28;
}
.buttont2 {
  padding-top: 20px;
  color: white;
  padding-right: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  font-size: 15px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
}

.menu_left {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-left: 30px;
}
